@tailwind base;
@tailwind components;
@tailwind utilities;
/* antd design */



.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 800px; /* Adjust the max-width as needed */
  }
  